<p id="notice"><%= notice %></p>

<p>
  <strong><%= Room.human_attribute_name('name') %></strong>
  <%= @room.name %>
</p>

<p>
  <strong><%= Room.human_attribute_name('place') %></strong>
  <%= @room.place %>
</p>

<p>
  <strong><%= Room.human_attribute_name('number') %></strong>
  <%= @room.number %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
